<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByn5uPZEoMB1osCw2ezLNsP_CfjLsQo84</string>
	<key>GCM_SENDER_ID</key>
	<string>126089046159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.awesomeFcm</string>
	<key>PROJECT_ID</key>
	<string>awesomefcmpractice</string>
	<key>STORAGE_BUCKET</key>
	<string>awesomefcmpractice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126089046159:ios:2b60afa0ba118fc8cae8fa</string>
</dict>
</plist>